### Gradle ###
.gradle/
build/

# Keep Gradle wrapper
!gradle/wrapper/gradle-wrapper.jar

### IntelliJ IDEA ###
.idea/
*.iml
out/

### VS Code ###
.vscode/

### Eclipse ###
.apt_generated/
.classpath
.factorypath
.project
.settings/

### OS Files ###
.DS_Store
Thumbs.db

### Logs ###
*.log

### Google Services ###
/app/google-services.json
